/*Tipografías importadas para el uso en la página web desde Google Fonts*/
@import url('https://fonts.cdnfonts.com/css/waildesh');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Questrial&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  transition: all 0.3s ease-in-out; /*Transición suave por defecto*/
}

html, body {
  width: 100%;
  overflow-x: hidden; /*Evita que cualquier cosa se desborde a la derecha, principalmente colocado para evitar problemas con ciertas configuraciones*/
}

h1, h2, h3, h4 {
    font-family: "Waildesh", sans-serif;
}

.ayuda-contenido {
  margin-left: 85px; /*espacio por el sidebar*/
  padding: 50px 20px;
  background: #f8f5f2;
  min-height: 100vh;
}

.faq-section h1 {
  text-align: center;
  font-family: "Waildesh", sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 15%;/*Crea un espacio del 100% con la parte superior*/
}

.faq-sub {
  text-align: center;
  color: #777;
  margin-bottom: 40px;
  font-size: 18px;
}

.faq-contenedor {
  max-width: 700px;
  margin: auto;
}

.faq-item {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  overflow: hidden;
}

.faq-pregunta {
  width: 100%;
  padding: 15px 20px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;/*Ayuda a animar suavemente el cambio de color de fondo*/
}

.faq-pregunta:hover {
  background: #fdf1fa;
}

.faq-respuesta {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
  padding: 0 20px;
}

.faq-respuesta p {
  color: #555;
  padding: 10px 0;
  line-height: 1.5;
}

.faq-item.active .faq-respuesta {
  max-height: 200px;
  padding: 10px 20px;
}

.arrow {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.faq-item.active .arrow {
  transform: rotate(45deg);
}
