/*Tipografías importadas para el uso en la página web desde Google Fonts*/
@import url('https://fonts.cdnfonts.com/css/waildesh');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Questrial&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  transition: all 0.3s ease-in-out; /*Transición suave por defecto*/
}

html, body {
  width: 100%;
  overflow-x: hidden; /*Evita que cualquier cosa se desborde a la derecha, principalmente colocado para evitar problemas con ciertas configuraciones*/
}

h1, h2, h3, h4 {
    font-family: "Waildesh", sans-serif;
}

.seccion-contacto {
  margin-left: 85px;
  background: #f8f5f2;
  min-height: 100vh;
}

.contacto-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #a4195b;
  color: #fff;
  padding: 30px;
  margin-bottom: 30px;
}

.contacto-header h2{
  margin-left: 100px;
  font-size: 70px;
}

.contacto-header img {
  width: 500px;
  border-radius: 10px;
  margin-right: 150px;
}

.contacto-cuerpo {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  padding: 35px 35px;
}

.formulario {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  flex: 1;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.formulario button {
  background: #a4195b;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.formulario button:hover {
  background: #d61b74;
}

.info-extra {
  flex: 1;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  font-size: 20px;
}