/*Tipografías importadas para el uso en la página web desde Google Fonts*/
@import url('https://fonts.cdnfonts.com/css/waildesh');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Questrial&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  transition: all 0.3s ease-in-out; /*Transición suave por defecto*/
}

html, body {
  width: 100%;
  overflow-x: hidden; /*Evita que cualquier cosa se desborde a la derecha, principalmente colocado para evitar problemas con ciertas configuraciones*/
}


/*Codigo css para producto.html*/
.section-imagen {
    background-image: url(portadaProductos.png); 
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /*Ocupa toda la pantalla*/
    margin-left: 85px; /*Deja espacio para el sidebar*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;   
    text-align: center;
    padding: 25px;
}

/*Esta parte configura la seccion de categorías, como el titulo, el texto y fondo*/
h1, h4 {
    font-family: "Waildesh", sans-serif;
}

.seccion-categorias {
    min-height: 100vh;
    width: 100%;
    background-color: #f8f5f2;
}

.contenedor {
    max-width: 1250px;
    padding: 100px 20px;
    margin: 0 auto;
}

.top-categoria {
    margin: 0 auto;
    text-align: center;
    max-width: 700px;
}

.top-categoria h1 {
    margin-bottom: 80px;
    font-size: 40px;
    font-weight: 700;
}

.top-categoria p {
    font-size: 18px;
    color: #999;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 30px;
    justify-items: center;
    margin-bottom: 10px;
}

.categoria {
    text-align: center;
}

/*Código css para el botón, lo cuál agrega una animación*/
.contenedorbtn {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.boton p {
    font-size: 18px;
    color: #999;
    line-height: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 50px;
}

.btn {
  background-color: #a4195b;
    position: relative;
    padding: 20px 50px;
    text-decoration: none;
    color: #f8aa37;
    letter-spacing: 10px;
    overflow: hidden;/*La animación esta escondida, es un recuadro que se mantiene por encima del boton*/
    border: 3px solid #a4195b;
    z-index: 1;
    margin-bottom: 60px;
}

.btn::before {/*Funciona para guardar la configuración del recuadro escondido y como reaccionara a la funsión hover*/
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    left: 0;
    top: -200%;
    background-color: #ffffff;
    border-radius: 50%;
    transition: all 0.6s ease;
    z-index: -1;
}

.btn:hover:before {/*Indica que al momento de pasar el cursor por encima el recuadro dejara de aparecer como 'escondido' y se mostrara con la animación anteriormente configurada: transition y z-index(indica la sobreposición de los elemntos)*/
    top: 0;
    border-radius: 0%;
}

/*Codigo para animar especificamente el area de las categorías*/
/* Al hacer hover, se expande horizontalmente */
.categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 30px;
  justify-items: center;
  margin-bottom: 20px;
  position: relative;
}

.categoria-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  position: relative;
  z-index: 1;
}

.categoria-item:hover {
    z-index: 2;
}

.categoria-capsula {
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 150px / 150px;
  overflow: visible;
  border: 2px dotted #ccc;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start; /*ayuda a que el contenido se situe en la dirección principal*/
  transition: all 0.5s ease;
  padding: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

/*Al hacer hover, se expande horizontalmente*/
.categoria-item:hover .categoria-capsula {
  width: 500px;
  justify-content: flex-start;
  padding-left: 10px;
}

/*La imagen se mueve a la izquierda*/
.capsula-imagen {
  width: 230px;
  height: 310px;
  border-radius: 150px / 150px;/*hace que la imagen quede acorde al border de la capsula*/
  overflow: hidden;
  flex-shrink: 0;
  transition: transform 0.5s eas;
  margin-left: 10px;
  margin-right: 10px;
}

.capsula-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*La información aparece, tiene una animación para hacerlo más fluido*/
.info-categoria {
  opacity: 0;
  margin-left: 20px;
  transition: opacity 0.5s ease;
  width: 180px;
}

.categoria-capsula:hover .info-categoria {/*Logra que la información se vea*/
  opacity: 1;
}

.info-categoria p {
  font-size: 14px;
  color: #999;
  line-height: 1.4;
}

/*Título que siempre está visible debajo de la cápsula*/
.titulo-fijo {
  text-align: center;
  font-size: 16px;
  font-family: 'Waildesh', sans-serif;
  color: #333;
  width: 100%;
  margin-top: 15px;
  position: relative;
  z-index: 1;
}
